<footer class="footer__area">
  <div class="footer__container">
    <div class="footer__section">
      <h4 class="footer__title">About Me</h4>
      <p>Lorem ipsum dolor sit amet,consectetuer adipiscing elit. Aenean commodo.</p>
    </div>
    <div class="footer__section">
      <h4 class="footer__title">Phone &amp; Email</h4>
      <p>443-690-9914</p>
      <p>info@angelaaydphotography.com</p>
    </div>
    <div class="footer__section">
      <h4 class="footer__title">Address</h4>
      <p>123 Main Street<p>
      <p>Baltimore, MD 21201</p>
    </div>
    <div class="footer__section footer__section-form">
      <form>
        <input type="text" name="moreemail" value="Enter your email" class="footer__input" />
        <button type="submit" class="footer__button">Contact me</button>
      </form>
    </div>
  </div>
</footer>
