<footer class="footer__section">
  <div class="footer__area">
    <div class="footer__container">
      <h4 class="footer__title">About Me</h4>
      <p>Lorem ipsum dolor sit amet,consectetuer adipiscing elit. Aenean commodo.</p>
    </div>
    <div class="footer__container">
      <h4 class="footer__title">Contact Information</h4>
      <p class="footer__para">info@angelaaydphotography.com</p>
      <p class="footer__para">443-690-9914</p>
      <p class="footer__para">123 Main Street</p>
      <p class="footer__para">Baltimore, MD 21201</p>
    </div>
    <div class="footer__container">
      <form class="footer__section-form">
        <input type="text" name="moreemail" placeholder="Enter your email" class="footer__input" />
        <button type="submit" class="footer__button">Contact me</button>
      </form>
    </div>
  </div>
</footer>
