<nav class="nav__section">
  <div class="nav__area">
    <ul class="nav__list">
      <li class="nav__item"><a href="{{ site.baseurl }}/" class="nav__link">Home</a></li>
      <li class="nav__item"><a href="{{ "/portfolio" | prepend: site.baseurl }}" class="nav__link">Portfolio</a></li>
      {% for page in site.pages %} {% if page.title %}
      <li class="nav__item"><a href="{{ page.url | prepend: site.baseurl }}" class="nav__link">{{ page.title }}</a></li>
      {% endif %} {% endfor %}
    </ul>
  </div>
</nav>
