@import url('https://fonts.googleapis.com/css?family=Allura');

$content-width: 800px;
$main: #19CCAA;
$font-style: 'Open Sans', sans-serif;
$font-color: #262626;
$link-color: #425469;
$link-hover-color: $main;
$heading-font: 'Muli', sans-serif;
$heading-font-color: #425469;
$light: #E7EDF4;
$header: #1D1425;

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  color: $font-color;
  font-family: $font-style;
  font-size: 1.1em;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
}

a {
  color: $link-color;
  text-decoration: underline;
  // font-weight: bold;
  &:hover {
    color: $link-hover-color;
    text-decoration: underline;
  }
}

.footer__area {
  padding: 40px 0;
}

.footer__container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer__section {
  width: 25%;
  padding-right: 30px;
  font-size: 0.6em; 
  font-family: 'Muli', sans-serif;
  color: $link-color;
}

.footer__section-form {
  display: flex;
  align-items: center;
}

.footer__title {
  text-transform: uppercase;
  color: $font-color;
  font-size: 1.2em;
}

.footer__input {
  text-align: center;
  width: 100%;
}

.footer__button {
  width: 100%;
}
