body {
  margin: 0;
  color: $font-color;
  font-family: $font-style;
  font-size: 1.1em;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
}

a {
  color: $link-color;
  text-decoration: underline;
  font-weight: bold;
  &:hover {
    color: $link-hover-color;
    text-decoration: underline;
  }
}

header {
  background-image: url(/assets/portrait-girl.jpg);
  background-position: center;
  background-size: cover;
  padding: 0px 15px;
  text-align: center;
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

main {
  padding: 0 15px;
  max-width: $content-width;
  margin: 0 auto;
}

time {
  color: #898989;
}

.container {
  max-width: $content-width;
  margin: 0 auto;
}

/* Aside */

aside {
  position: fixed;
  top: 0;
  left: 0;
  background: transparent;
  width: 100%;
  z-index: 2;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  box-shadow: 0px 1px 1px rgba(83, 83, 83, 0.1);
  nav {
    margin: 0 auto;
    ul {
      display: flex;
      margin: 0 auto;
      padding: 0;
      list-style: none;
      flex-direction: row;
      justify-content: center;
      li {
      }
    }
    &:after {
      content: '';
      display: table;
      clear: both;
    }
  }
}

.nav__link {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.7em;
  color: #fff;
  display: block;
  padding: 15px;
  font-family: 'Muli', sans-serif;
  line-height: 20px;
  // margin-bottom: -1px;
  box-shadow: none;
  &:hover,
  &:active {
    border-bottom: 2px solid $header;
    padding-bottom: 13px;
    text-decoration: none;
    color: $main;
  }
}

.main__titlesection {
  flex-direction: column;
  align-content: flex-end;
}

.main__title {
  color: #fff;
}

.main__subtitle {
  color: #fff;
}

footer {
  text-align: center;
  padding: 40px;
}
