main {
  padding: 0 15px;
  max-width: $content-width;
  margin: 0 auto;
}

.works__section {
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
}

.works__area {
  width: 900px;
  margin: 0 auto;
}

.teaser__section {
  width: 100%;
  background-color: #f0f0f0;
  padding-top: 30px;
  padding-bottom: 30px;
}

.teaser__area {
  width: 900px;
  margin: 0 auto;
}
