main {
  padding: 0 15px;
  max-width: $content-width;
  margin: 0 auto;
}

.portf__section {
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
}

.portf__area {
  width: 900px;
  margin: 0 auto;
}

.imggrid__containter {
  margin: 0;
  padding: 0;
  width: 100%;
}

.imggrid__row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.imggrid__col {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.imggrid__image {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

.teaser__section {
  width: 100%;
  background-color: #f0f0f0;
  padding-top: 30px;
  padding-bottom: 30px;
}

.teaser__area {
  width: 900px;
  margin: 0 auto;
}
