<!DOCTYPE html>
<html>
{% include head.html %}

<body>
  {% include navigation.html %}
  {% include header.html %}
  <div class="portf__section">
    <div class="portf__area">
      <h1 class="page-heading">Latest Works</h1>
  
      {{ content }}

      <div class="imggrid__container">
        <div class="imggrid__row">
          <div class="imggrid__col">
            <img class="imggrid__image" src="https://picsum.photos/g/300/200/" alt="grayscale random image" />
            <img class="imggrid__image" src="https://picsum.photos/300/200/?random" alt="random image" />
            <img class="imggrid__image" src="https://picsum.photos/300/200/?random" alt="random image" />
            <img class="imggrid__image" src="https://picsum.photos/300/200/?random" alt="random image" />
          </div>
          <div class="imggrid__col">
            <img class="imggrid__image" src="https://picsum.photos/300/200/?random" alt="random image" />
            <img class="imggrid__image" src="https://picsum.photos/g/300/200/" alt="grayscale random image" />
            <img class="imggrid__image" src="https://picsum.photos/300/200/?random" alt="random image" />
            <img class="imggrid__image" src="https://picsum.photos/300/200/?random" alt="random image" />
          </div>
          <div class="imggrid__col">
            <img class="imggrid__image" src="https://picsum.photos/300/200/?random" alt="random image" />
            <img class="imggrid__image" src="https://picsum.photos/300/200/?random" alt="random image" />
            <img class="imggrid__image" src="https://picsum.photos/g/300/200/" alt="grayscale random image" />
            <img class="imggrid__image" src="https://picsum.photos/300/200/?random" alt="random image" />
          </div>
          <div class="imggrid__col">
            <img class="imggrid__image" src="https://picsum.photos/300/200/?random" alt="random image" />
            <img class="imggrid__image" src="https://picsum.photos/300/200/?random" alt="random image" />
            <img class="imggrid__image" src="https://picsum.photos/300/200/?random" alt="random image" />
            <img class="imggrid__image" src="https://picsum.photos/g/300/200/" alt="grayscale random image" />
          </div>
        </div>
      </div>

      <!-- <ul class="post-list">
        {% for post in site.posts %}
          <li>
            {% assign date_format = "%b %-d, %Y" %}
            <span class="post-meta">{{ post.date | date: date_format }}</span>
  
            <h2>
              <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
            </h2>
          </li>
        {% endfor %}
      </ul> -->
  
      <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
    </div>
  </div>
  <div class="teaser__section">
    <div class="teaser__area">
      <h1 class="teaser__title">More About Me</h1>
      <img src="https://picsum.photos/900/650" alt="Workspace photo" />
    </div>
  </div>
  {% include footer.html %}
</body>

</html>

